.internship-card{
    border-radius: 0.65rem;
    border: 1.5px solid #6751b9;
    padding: 1rem;
    /* text-align: center; */
    background: rgba(22,17,47,0.398);
    backdrop-filter: blur(1rem);
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
    flex-grow: 1;
}
/* .internship-card:hover{
    transform: translateY(-1rem);
    box-shadow: 0.1rem 0.1rem 1rem #7c5fe6;
} */
/* .internship-card.activeCard{
    background: linear-gradient(180deg, #aa94fe 0%, #7c5fe6 100%);
} */
.internship-card .title{
    margin-bottom: 0.7rem;
    font-weight:500;
}
.internship-card .title .titleName{
    font-size: 1.05rem;
}
.internship-card .title .titleLoc{
    font-style: italic;
    font-size: 0.9rem;
}
.internship-card .internship-duration{
    font-size: 0.7rem;
    display: inline-block;
    padding: 0.2rem 0.8rem;
    background: rgba(103,81,185,0.5);
    border-radius: 0.4rem 0.6rem;
    margin-bottom: 0.9rem;
}
.internship-card .description{
    text-align: justify;
    font-size: 0.8rem;
    font-weight:300;
}
