.achive-container{
    margin: 4rem 0;
    position: relative;
}
.achive-container h5{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
}
.achive-container::after,.achive-container::before{
    content: "";
    width: 28rem;
    height: 28rem;
    border-radius: 28.125rem;background: #9e51b9;
    position: absolute;
    z-index: -1;
    filter: blur(250px);
}
.achive-container::after{
    top: -8rem;
    left: -1rem;
}
.achive-container::before{
    background: #7c66e3;
    bottom: -5rem;
    right: -2rem;
}
.achive-content1{   
    flex: 1;
    display: grid;
    grid-gap: 1.3rem;
    grid-template-columns: repeat(2, 1fr);
    
}
.achive-content2{   
    flex: 1;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    
}
.achive-container .heading1, .achive-container .heading2{
    margin-bottom: 3rem;
    display: inline-block;
    position: relative;
    font-size: 1rem;
}
.achive-container .heading2{
    margin: 3rem 0;
}
.achive-container .heading1::before, .achive-container .heading2::before  {
    content: " ";
    width: 100%;
    height: 0.2rem;
    background: linear-gradient(90deg,#a993fe 0%,#7e61e7 100%);
    border-radius: 0.5rem;
    position: absolute;
    bottom: -0.6rem;
}
@media (max-width: 1150px){
    .achive-content2{
        grid-template-columns: repeat(3, 1fr);

    }

}
@media (max-width: 920px){
    .achive-content2{
        grid-template-columns: repeat(2, 1fr);

    }
    .achive-content1{
        grid-template-columns: repeat(1, 1fr);
    
    }

}
@media (max-width: 630px){
    .achive-content2{
        grid-template-columns: repeat(1, 1fr);

    }

}
@media (max-width:769px){
    .achive-container h5{
        font-size: 1.3rem;
        margin-bottom:2rem;
    }
    .achive-container::after,.achive-container::before{
        width: 18rem;
        height: 18rem;
        filter: blur(200px);
    }
    .achive-container::before{
        background: #7c66e3;
        bottom: -5rem;
        right: -1rem;
    }
}